// @import "./variables";
@import "./animations";

section#skills {
  background-color: $skillsBackground;
  // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  transform: skewY(-$sectionSkewSmall);
  @include respond(tab-port) {
    transform: skewY(-$sectionSkew);
  }
  hr {
    transform: skewY($sectionSkewSmall);
    @include respond(tab-port) {
      transform: skewY($sectionSkew);
    }
  }
  div {
    transform: skewY($sectionSkewSmall);
    @include respond(tab-port) {
      transform: skewY($sectionSkew);
    }
  }
  h1 {
    transform: skewY($sectionSkewSmall);
    animation: moveInLeft 2s ease-in-out;
    // transition: all 3s;
    @include respond(tab-port) {
      transform: skewY($sectionSkew);
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 25%;
      padding: 0.5rem;
      img {
        width: 6rem;
      }
      p {
        width: 10rem;
        padding: 1rem;
      }
    }
  }
}
