@import "./variables";
@import "./animations";

section#skills {
  background-color: $skillsBackground;
  // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  transform: skewY(-$sectionSkew);
  hr{
    transform: skewY($sectionSkew);
  }
  div{
    transform: skewY($sectionSkew);
  }
  h1{
    transform: skewY($sectionSkew);
    animation: moveInLeft 2s ease-in-out;
    // transition: all 3s;
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 25%;
      padding: 0.5rem;
      img {
        width: 6rem;
      }
      p {
        width: 10rem;
        padding: 1rem;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    // ul{
    //     width: 70%;
    //     margin: 0 auto;
    // }
  }
}

