$mainTextColor: #50394c;
$brandColor: white;
$blackColor: #000;
$navUnderlineColor: white;
$navHoverColor: white;
$navBackground: #ffef96;
$navTextColor: white;
$navLiBorderColor: lightgray;
$navHoverBackground: #50394c;
// $skillsBackground: #f4e1d2;
$skillsBackground: #eeebeb;
// $projectsBackground: #b2b2b2;
$projectsBackground:#f4e1d2;
$projectHoverBackground: #50394c;
$buttonsBoxShadow: "0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)";
$footerBackground: #ffef96;
$sectionSkew: 5deg;
